################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ApiProject/bin/Debug/net10.0
/.vs
/src/ApiProject/obj
/RabbitClient/bin/Debug/net10.0
/RabbitClient/obj
