################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ApiProject/bin/Debug/net10.0
/.vs
/src/ApiProject/obj
/RabbitClient/bin/Debug/net10.0
/RabbitClient/obj
/src/Domain/bin/Debug/net10.0
/src/Domain/obj
/src/RabbitClient/bin/Debug/net10.0
/src/RabbitClient/obj
/src/RabbitService/bin/Debug/net10.0
/src/RabbitService/obj
/src/SqlUserStorage/bin/Debug/net10.0
/src/SqlUserStorage/obj
/src/UnitTests/bin/Debug/net10.0
/src/UnitTests/obj
/InterviewApiDemo.slnLaunch.user
/src/Demo.ApiProject/bin/Debug/net10.0
/src/Demo.ApiProject/obj
/Docs/.$Demo Diagram.drawio.bkp
/src/Demo.Domain/bin/Debug/net10.0
/src/Demo.Domain/obj
/src/Demo.Infrastructure.RabbitService/bin/Debug/net10.0
/src/Demo.Infrastructure.RabbitService/obj
/src/Demo.Infrastructure.SqlUserStorage/bin/Debug/net10.0
/src/Demo.Infrastructure.SqlUserStorage/obj
/src/Demo.RabbitClient/bin/Debug/net10.0
/src/Demo.RabbitClient/obj
/src/Demo.UnitTests/bin/Debug/net10.0
/src/Demo.UnitTests/obj
